{%extends 'base.html'%}

{%block main-block%}

<div class="w-2/4 mx-auto">
            <a href="{%url 'wishlist' data.id %}">wishlist</a>
        
    <a href="#" class="group relative block overflow-hidden">
        <button
        
          class="absolute end-4 top-4 z-10 rounded-full bg-white p-1.5 text-gray-900 transition hover:text-gray-900/75"
        >
          <span class="sr-only">Wishlist</span>
      
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
            />
          </svg>
        </button>
      
        <img
          src="{{data.preview_image.url}}"
          alt=""
          class="h 4 w-full object-cover transition duration-500 group-hover:scale-105 sm:h-720"
        />
      
        <div class="relative border border-gray-100 bg-white p-6">
          <p class="text-gray-700">
            {{data.price}}
            <span class="text-gray-400 line-through">{{data.price}}</span>
          </p>
      
          <h3 class="mt-1.5 text-lg font-medium text-gray-900">{{data.name}}</h3>
      
          <p class="mt-1.5 line-clamp-3 text-gray-700">
            {{data.description}}
          </p>

          <!-- select -->

          <div class=""mx-auto flex item-center>
            <span class="mr-3 text-sm font-semibold"> {{data.shape_object.all}} </span>
          <div class="relative">
          
            <select name="shape"
              
              class="appearance-none rounded border border-gray-300 py-2 pl-3 pr-10 text-sm focus:border-black focus:uotline-non "
            >
              {%for opt in data.shape_object.all%}
              <option value="{{opt.name}}">{{opt.name}}</option>
              {%endfor%}
              
            </select>
          </div>
          </div>

          

          <!-- bb -->

          <div class="mt-1.5">
            <p class="text-xs text-gray-500">{{data.colour_object.all}}</p>
        
            <div class="mt-1.5 flex gap-1">
              <form>
                <fieldset>
                  <legend class="sr-only">Color</legend>
                </fieldset>
        
                <div class="flex flex-wrap justify-center gap-1 [&:hover_label]:opacity-75">
                  <div>
                    <input type="checkbox" id="ColorSg" class="sr-only" />
        
                    <label
                      for="ColorSg"
                      class="block size-4 cursor-pointer rounded-full bg-[#595759] transition hover:!opacity-100"
                    >
                      <span class="sr-only"> Space Gray </span>
                    </label>
                  </div>
        
                  <div>
                    <input type="checkbox" id="ColorS" class="sr-only" />
        
                    <label
                      for="ColorS"
                      class="block size-4 cursor-pointer rounded-full bg-[#d2d3d4] transition hover:!opacity-100"
                    >
                      <span class="sr-only"> Silver </span>
                    </label>
                  </div>
        
                  <div>
                    <input type="checkbox" id="ColorP" class="sr-only" />
        
                    <label
                      for="ColorP"
                      class="block size-4 cursor-pointer rounded-full bg-[#d89f97] transition hover:!opacity-100"
                    >
                      <span class="sr-only"> Pink </span>
                    </label>
                  </div>
        
                  <div>
                    <input type="checkbox" id="ColorG" class="sr-only" />
        
                    <label
                      for="ColorG"
                      class="block size-4 cursor-pointer rounded-full bg-[#afbfab] transition hover:!opacity-100"
                    >
                      <span class="sr-only"> Pink </span>
                    </label>
                  </div>
        
                  <div>
                    <input type="checkbox" id="ColorSb" class="sr-only" />
        
                    <label
                      for="ColorSb"
                      class="block size-4 cursor-pointer rounded-full bg-[#91a5bb] transition hover:!opacity-100"
                    >
                      <span class="sr-only"> Pink </span>
                    </label>
                  </div>
                </div>
              </form>
            </div>
        
           
          </div>

<!-- hh -->
<div class="mt-1.5">
  <p class="text-xs text-gray-500">{{data.body_object.all}}</p>

  <div class="mt-1.5 flex gap-1">
    <form>
      <fieldset>
        <legend class="sr-only">Color</legend>
      </fieldset>

      <div class="flex flex-wrap justify-center gap-1 [&:hover_label]:opacity-75">
        <div>
          <input type="checkbox" id="ColorSg" class="sr-only" />

          <label
            for="ColorSg"
            class="block size-4 cursor-pointer rounded-full bg-[#595759] transition hover:!opacity-100"
          >
            <span class="sr-only"> Space Gray </span>
          </label>
        </div>

        <div>
          <input type="checkbox" id="ColorS" class="sr-only" />

          <label
            for="ColorS"
            class="block size-4 cursor-pointer rounded-full bg-[#d2d3d4] transition hover:!opacity-100"
          >
            <span class="sr-only"> Silver </span>
          </label>
        </div>

        <div>
          <input type="checkbox" id="ColorP" class="sr-only" />

          <label
            for="ColorP"
            class="block size-4 cursor-pointer rounded-full bg-[#d89f97] transition hover:!opacity-100"
          >
            <span class="sr-only"> Pink </span>
          </label>
        </div>

        <div>
          <input type="checkbox" id="ColorG" class="sr-only" />

          <label
            for="ColorG"
            class="block size-4 cursor-pointer rounded-full bg-[#afbfab] transition hover:!opacity-100"
          >
            <span class="sr-only"> Pink </span>
          </label>
        </div>

        <div>
          <input type="checkbox" id="ColorSb" class="sr-only" />

          <label
            for="ColorSb"
            class="block size-4 cursor-pointer rounded-full bg-[#91a5bb] transition hover:!opacity-100"
          >
            <span class="sr-only"> Pink </span>
          </label>
        </div>
      </div>
    </form>
  </div>

 
</div>

          <!-- ghh
           
  module.exports = {
  theme: {
    colors: {
      transparent: 'transparent',
      current: 'currentColor',
      black: colors.black,
      white: colors.white,
      gray: colors.gray,
      emerald: colors.emerald,
      indigo: colors.indigo,
      yellow: colors.yellow,
    },
  },
} -->
                     
          
          
    
      
          <form class="mt-4 flex gap-4">
            <button onclick=location.href="{%url 'wishlist' data.id %}"

            
              class="block w-full rounded bg-gray-100 px-4 py-3 text-sm font-medium text-gray-900 transition hover:scale-105"
            >
              Add to Cart
            
            </button>
      
            <button
              type="button"
              class="block w-full rounded bg-gray-900 px-4 py-3 text-sm font-medium text-white transition hover:scale-105"
            >
              Buy Now
            </button>
          </form>
        </div>
      </a>
</div>
  


{%endblock%}


  <!-- clour -->

  <div class="mt-1.5">
    <p class="text-xs text-gray-500">Colour</p>
    {%for opt in data.colour_object.all%}

    <div class="mt-1.5 flex gap-1">
      <form>
        <fieldset>
          <legend class="sr-only">Color</legend>
        </fieldset>

        <div class="flex flex-wrap justify-center gap-1 [&:hover_label]:opacity-75">
          <div>
            <input type="checkbox" id="ColorSg" class="sr-only" />

            <label
              for="ColorSg"
              class="block size-4 cursor-pointer rounded-full bg-[#595759] transition hover:!opacity-100"
            >
              <span class="sr-only"> Space Gray </span>
            </label>
          </div>

          {%endfor%}

          

         

          
        </div>
      </form>
    </div>

   
  </div>

<!-- hh -->
<div class="mt-1.5">
<p class="text-xs text-gray-500">Light BodyColour</p>

{%for opt in data.body_object.all%}
<div class="mt-1.5 flex gap-1">
<form>
<fieldset>
<legend class="sr-only">Color</legend>
</fieldset>

<div class="flex flex-wrap justify-center gap-1 [&:hover_label]:opacity-75">
<div>
<input type="checkbox" id="ColorSg" class="sr-only" />

<label
  for="ColorSg"
  class="block size-4 cursor-pointer rounded-full bg-[#595759] transition hover:!opacity-100"
>
  <span class="sr-only"> {{data.body_object.all}} </span>
</label>
</div>


 




</div>
</form>
</div>

{%endfor%}


</div>

  <!-- ghh
   
module.exports = {
theme: {
colors: {
transparent: 'transparent',
current: 'currentColor',
black: colors.black,
white: colors.white,
gray: colors.gray,
emerald: colors.emerald,
indigo: colors.indigo,
yellow: colors.yellow,
},
},
} -->
             
  
  
